/*
 * Estilos de tu proyecto
 */
*{
    font-family: "Montserrat";
    color: white;
}
 .contenedor{
    background-color: #070F5D;
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    display: inline-block; 
    z-index: 1; 
    padding: 5px 10px;
 }
 .contenedor .logo{
    display: inline-block;
 }
.contenedor nav{
    display: inline-block;  
 }
 .logo h1{
    margin-left: 55px;
    margin-right: 500px;    
 }
 
 .menu ul li{
    display: inline-block;
     }
 .menu ul li a{
    margin-right: 20px;
    text-decoration: none; 
    width: 100px;
    height: 80px; 
 }
 .menu a:hover {
    background-color: #2AB582;  /*para darle color a cada pestaña del menu*/
    padding: 10px;
}

/*primera caja*/

.cont{
    background-color: #2AB582;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    width: 100%;
    height: 180%;
    height: 170%;
    position: relative;
    margin-top: 60px;
    padding: 10px 20px;
}
.cont img{
    margin-top: 100px;
}
.cont h1{
    text-align: center;
    margin-top: 60px;
    font-size: 55px;
}
.cont i{
    font-size: 30px;
    font-size: 50px;
}
.cont i{
    
    font-size: 40px;
    width: 70px;
    display: inline-block;
}
.cont p{
    font-size: 20px;
}
.linea-a{
    border-bottom: 7px solid white;
    width: 100px;
    display: inline-block;
}
.linea-b{
    border-bottom: 7px solid white;
    width: 100px;
    display: inline-block;
}

/*segunda caja*/

.cont2{
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    width: 100%;
    height: 200%;
    position: relative;
    margin-top: 50px;
    padding: 10px 20px;
    display: inline-block;
}
.cont2 h1{
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 50px;
}
.cont2 .linea-a{
    border-bottom: 7px solid black;
    width: 100px;
    display: inline-block;
}
.cont2 .linea-b{
    border-bottom: 7px solid black;
    width: 100px;
    display: inline-block;
}
.cont2 i{
    font-size: 30px;
    width: 70px;
    display: inline-block;
    color: black;
}
.cont2 h1{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-size: 50px;
}

.cont2 img{
	margin-left: 150px;
	margin-top: 30px;
}

/*tercera caja*/

.cont3{
    background-color: #2AB582;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 90px;
    padding: 10px 20px;
}
.cont3 h1{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
}
.cont3 i{   
    font-size: 30px;
    width: 70px;
    display: inline-block;
}
.cont3 .linea-a{
    border-bottom: 7px solid white;
    width: 100px;
    display: inline-block;
    
}
.cont3 .linea-b{
    border-bottom: 7px solid white;
    width: 100px;
    display: inline-block;
}
button{
    background-color: #2AB582;
    border: 5px solid white;
    border-radius: 8px;     
    width: 290px;
    padding: 10px;
    font-size: 20px;
}
button i{
    font-size: 20px;
}

.cont3 .row{
	margin-left: 400px;
}

/*cuarta caja*/

.cont4{
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 740px;
    padding: 10px 20px;
    display: inline-block;
}
.cont4 h1{
    text-align: center;
    color: black;
    margin-top: 40px;
    font-size: 50px;
}
.cont4 .linea-a{
    border-bottom: 7px solid black;
    width: 100px;
    display: inline-block;
}
.cont4 .linea-b{
    border-bottom: 7px solid black;
    width: 100px;
    display: inline-block;
}
.cont4 i{
    font-size: 30px;
    width: 70px;
    display: inline-block;
    color: black;
}

.cont4 .line{
	border-bottom: 1px solid #C7C8C7;
	width: 1000px;
}

form{
    margin-top:30px;
    margin-left: 100px;
    color: #828483;
}

form label{
	color: #828483;
}

form input {
	border-style: none;
}

textarea{
	border-style: none;
}

form button{
    width: 80px;
    margin-top: 30px;
}

/*quinta caja*/

.cont5{
    background-color: #4A4C4B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    width: 100%;
    height: 25%;
    position: absolute;
    margin-top: 140px;
    padding: 10px 20px;
}
.cont5 h1{
    font-size: 25px;
}
.cont5 h2{
    font-size: 15px;
}
.cont5 .col-4{
    width: 30%; 
}
.cont5 i{
    font-size: 35px;
    margin-right: 25px;
}
.cont5 a{
    color: #2AB582;
    text-decoration: none;
}

/*Footer*/

footer{
	background-color: #242524;
	background-position: center;
	color: white;
	width: 100%
	height: 10%;
	margin-top: 315px;
	padding: 10px 20px;
	position: relative;
}

footer h2{
	font-size: 15px;
	display: inline-block;
	margin-right: 100px;
}

/*modal*/

.contenedor-modal{
	position: fixed;
	width: 100%
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
}

.modal{
	background-color: white;
	border-radius: 4px;
	padding: 25px;
	margin: 10% auto;
	width: 50%;
	height: auto;
}

.cerrar{
	width: auto;
	height: auto;
	cursor: pointer;
	background-color: rgba(225, 0, 0, 0.5);
	padding: 7px;
	float: right;
	font-weight: bold; /*para poner en negrita un texto*/
}